

/* CSS */
.button_82_pushable {
  position: relative;
  border: none;
  background: transparent;
  padding: 0;
  cursor: pointer;
  outline-offset: 4px;
  transition: filter 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button_82_shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  background: hsla(116, 33%, 10%, 0.25);
  will-change: transform;
  transform: translateY(2px);
  transition:
    transform
    600ms
    cubic-bezier(.3, .7, .4, 1);
}

.button_82_edge {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  background: #6AD300;
}

.button_82_front {
  display: block;
  position: relative;
  padding: 12px 27px;
  border-radius: 8px;
  font-size: 1.1rem;
  color: white;
  background: #6AD300;
  will-change: transform;
  transform: translateY(-4px);
  transition:
    transform
    600ms
    cubic-bezier(.3, .7, .4, 1);
}

@media (min-width: 200px) {
  .button_82_front {
    min-width: 120px;
    font-size: 0.9rem;
    font-weight: 450;
    padding: 8px 20px 3px 20px;
  }
}

.button_82_pushable:hover {
  filter: brightness(110%);
  -webkit-filter: brightness(110%);
}

.button_82_pushable:hover .button_82_front {
  transform: translateY(-6px);
  transition:
    transform
    250ms
    cubic-bezier(.3, .7, .4, 1.5);
}

.button_82_pushable:active .button_82_front {
  transform: translateY(-2px);
  transition: transform 34ms;
}

.button_82_pushable:hover .button-82-shadow {
  transform: translateY(4px);
  transition:
    transform
    250ms
    cubic-bezier(.3, .7, .4, 1.5);
}

.button_82_pushable:active .button-82-shadow {
  transform: translateY(1px);
  transition: transform 34ms;
}

.button_82_pushable:focus:not(:focus-visible) {
  outline: none;
}