.button_82_pushable {
    position: relative;
    border: none;
    background: transparent;
    padding: 0;
    cursor: pointer;
    outline-offset: 4px;
    transition: filter 250ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .button_82_shadow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    background: hsl(0deg 0% 0% / 0.25);
    will-change: transform;
    transform: translateY(2px);
    transition:
      transform
      600ms
      cubic-bezier(.3, .7, .4, 1);
  }
  
  .button_82_edge {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    background: linear-gradient(
      to left,
      hsl(37, 100%, 76%) 0%,
      hsl(32, 100%, 73%) 8%,
      hsl(39, 100%, 76%) 92%,
      hsl(32, 100%, 79%) 100%
    );
  }
  
  .button_82_front {
    display: block;
    position: relative;
    padding: 12px 27px;
    border-radius: 12px;
    font-size: 1.1rem;
    color: rgb(255, 255, 255);
    background: hsl(30, 100%, 69%);
    will-change: transform;
    transform: translateY(-4px);
    transition:
      transform
      600ms
      cubic-bezier(.3, .7, .4, 1);
  }
  
  @media (min-width: 768px) {
    .button_82_front {
      font-size: 1.25rem;
      padding: 12px 42px;
    }
  }
  
  .button_82_pushable:hover {
    filter: brightness(110%);
    -webkit-filter: brightness(110%);
  }
  
  .button_82_pushable:hover .button_82_front {
    transform: translateY(-6px);
    transition:
      transform
      250ms
      cubic-bezier(.3, .7, .4, 1.5);
  }
  
  .button_82_pushable:active .button_82_front {
    transform: translateY(-2px);
    transition: transform 34ms;
  }
  
  .button_82_pushable:hover .button_82_shadow {
    transform: translateY(4px);
    transition:
      transform
      250ms
      cubic-bezier(.3, .7, .4, 1.5);
  }
  
  .button_82_pushable:active .button_82_shadow {
    transform: translateY(1px);
    transition: transform 34ms;
  }
  
  .button_82_pushable:focus:not(:focus-visible) {
    outline: none;
  }