.container {
    text-align: center;
    padding: 20px;
  }
  
  .comparison_table {
    margin-top: 0px;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  th,
  td {
    border: 1px solid #ddd;
    padding: 10px;
    width: 300px;
    height: auto;
  }
  
  thead th {
    background-color: #f2f2f2;
  }
  
  tr:nth-child(even) {
    background-color: #f2f2f2;
  }

  tr:nth-child(even) {
    background-color: rgb(255, 255, 255);
  }

  .row :first {
    background: #ffc107; /* Thay đổi màu nền khi hover vào hàng tại đây */
  }
