.provinces{
    min-height: 30vh;
    display: grid;
}

.slider{
    height: 300px;
    margin: auto;
    position: relative;
    width: 80%;
    display: grid;
    overflow: hidden;
    align-items: center;
}

.slide_track{
    display: flex;
    width: calc(250px * 10);
    animation: scroll 120s linear infinite;
}

@keyframes scroll{
    0%{
        transform: translateX(0);
    } 
    100%{
        transform: translateX(calc(-250px * 10));
    }
}

.slide {
    height: 200px;
    width: 250px;
    display: flex;
    flex-direction: column;
    padding: 15px;
    perspective: 80px;
    margin-left: 70px;
}

.slide img {
    width: 250px;
    height: 150px;
    object-fit: cover;
    transition: transform 0.5s;
}
img:hover{
    transform: translateZ(20px);
}

.slide_track:hover{
    animation-play-state: paused;
}

.slider::after{
    background: linear-gradient(to left, rgba(255,255,255,1)0%, rgba(255,255,255,0) 100%);
    content: '';
    height: 100%;
    position: absolute;
    width: 2%;
    z-index: 2;
}
.slider::before{
    background: linear-gradient(to right, rgba(255,255,255,1)0%, rgba(255,255,255,0) 100%);
    content: '';
    height: 100%;
    position: absolute;
    width: 2%;
    z-index: 2;
}

.slider::before{
    left: 0;
    top: 0;
}

.slider::after{
    right: 0;
    top: 0;
    transform: rotateZ('180deg');
}